# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     https://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

######################
# Mandatory settings #
######################
# 5 character long suffix - because project ids are globally unique and non-reusable, this is used between subseqent create-destroy operations
# It's also added to all other resources created: Service Account, Access Level, VPC SC Perimeter, BigQuery Dataset/Table/View, Analytics Hub Listing/Exchange
# Potential format: 2 characters month, 2 characters day, "c", 1 character incremental, e.g.: MMDDcI => 0422c0
export SUFFIX=
# Publisher org's numeric id
export PROV_ORG_ID=
# Publisher org's name
export PROV_ORG_NAME=
# Billing Account to link to projects created during stage 0 bootstrap
export BILLING_ACCOUNT_ID=
# Billing Account to link to projects created for customers
export CX_BILLING_ACCOUNT_ID=
# Google User Account that will be able to impersonate the service accounts (usually the one active in `gcloud auth list)`
export GCLOUD_USER=
# Google User Account that will be granted broad privileges on the target provider org
export PROV_ADMIN_USER=
# CloudDNS zone name
export DNS_ZONE_NAME=
# CloudDNS domain name
export DNS_DOMAIN_NAME=
# Allowlisted IPv4 addresses (firewall, VPC-SC, GKE MAN)
export ALLOWLISTED_IPV4_A=( "127.0.0.1/24" )
# Allowlisted IPv6 addresses (firewall, VPC-SC)
export ALLOWLISTED_IPV6_A=( "::1/128" )

################################
# Optional / implied settings  #
################################
export REGION="us-central1"
export ZONE="us-central1-a"
export PROV_PROJECT_ID_PREFIX="bqprovpr-$SUFFIX"
export PROV_PROJECT_ID_SEED="${PROV_PROJECT_ID_PREFIX}-seed"
export PROV_STATE_BUCKET="tf-state-${PROV_PROJECT_ID_PREFIX}-seed"
export PROV_STATE_BUCKET_URL="gs://${PROV_STATE_BUCKET}"
export STAGE_DIRS=(
  "s00-provider-org-orgpolicies"
  "s01-provider-org-create-projects-bootstrap"
  "s02-provider-org-idp-infra"
  "s04-provider-keycloak-realms-users"
  "s05-provider-wlif-wfif"
  "s06-provider-bq-ds-data-sharing"
  "s10-consumer-projects"
)

declare -a TF_GEN_CONFIGS
for STAGE_DIR in "${STAGE_DIRS[@]}"
do
  TF_GEN_CONFIGS+=("./${STAGE_DIR}/backend.tf.tpl")
done
export TF_GEN_CONFIGS
