# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     https://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

######################
# Mandatory settings #
######################
# 5 character long suffix - because project ids are globally unique and non-reusable, this is used between subseqent create-destroy operations
# It's also added to all other resources created: Service Account, Access Level, VPC SC Perimeter, BigQuery Dataset/Table/View, Analytics Hub Listing/Exchange
export SUFFIX=

# Publisher org's numeric id
export PUBLISHER_ORG_ID=

# Publisher org's name
export PUBLISHER_ORG_NAME=

# Subscriber org's numeric id
export SUBSCRIBER_ORG_ID=

# Subscriber org's numeric id
export SUBSCRIBER_ORG_NAME=

# Billing Account to link to projects created during stage 0 bootstrap
export BILLING_ACCOUNT_ID=

# Google User Account that will be able to impersonate the terraform SA (usually the one active in `gcloud auth list)`
export TERRAFORM_SA_USER="gclouduser@nonexisting-domain.com"

# Google User Account that will be able to impersonate the subscriber SA (usually the one active in `gcloud auth list)`
export SUBSCRIBER_SA_USER="gclouduser@nonexisting-domain.com"

# Google User Account that will be granted broad privileges on the target publisher and subscriber orgs 
export ADMIN_USER="ahdemo-admin@nonexisting-domain.com"

# Google User Account that will be granted subscriber privileges
export SUBSCRIBER_USER="ahdemo-subscriber@nonexisting-domain.com"

# Google User Account that will be granted subscription viewer privileges
export SUBSCRIPTION_VIEWER_USER="ahdemo-subscription-viewer@nonexisting-domain.com"

# Google User Account that will be bigquery viewer roles in the subscriber projects
export BQREADER_USER=ahdemo-bq-reader@nonexisting-domain.com"

######################
# Optional settings  #
######################
export PROJECT_ID_SEED="ahdemo-$SUFFIX-seed"
export PROJECT_ID_BQ_SRC_DS="ahdemo-$SUFFIX-bq-src-ds"
export PROJECT_ID_BQ_SHARED_DS="ahdemo-$SUFFIX-bq-shared-ds"
export PROJECT_ID_AH_EXCHG="ahdemo-$SUFFIX-ah-exchg"
export PROJECT_ID_NONVPCSC_AH_EXCHG="ahdemo-$SUFFIX-nonvpcsc-ah-exch"
export PROJECT_ID_BQ_AND_AH="ahdemo-$SUFFIX-bq-ah-sameproj"
export PROJECT_ID_SUBSCR_WITH_VPCSC="ahdemo-$SUFFIX-subscr-vpcsc"
export PROJECT_ID_SUBSCR_WITHOUT_VPCSC="ahdemo-$SUFFIX-subscr"
export STATE_BUCKET="tf-state-ahdemo-${SUFFIX}"
export STATE_BUCKET_URL="gs://tf-state-ahdemo-${SUFFIX}"
export REGION="us-central1"
export SUBSCRIBER_SA_NAME="subscriber-$SUFFIX"
export SUBSCRIBER_SA_EMAIL="subscriber-$SUFFIX@${PROJECT_ID_SUBSCR_WITHOUT_VPCSC}.iam.gserviceaccount.com"
export TERRAFORM_SA_NAME="terraform-$SUFFIX"
export TERRAFORM_SA_EMAIL="terraform-$SUFFIX@${PROJECT_ID_SEED}.iam.gserviceaccount.com"
