# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#     https://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

######################
# Mandatory settings #
######################
# 5 character long suffix - because project ids are globally unique and non-reusable, this is used between subseqent create-destroy operations
# It's also added to all other resources created: Service Account, Access Level, VPC SC Perimeter, BigQuery Dataset/Table/View, Analytics Hub Listing/Exchange
# Potential format: 2 characters month, 2 characters day, "c", 1 character incremental, e.g.: MMDDcI => 0422c0
export SUFFIX=
# Publisher org's numeric id
export PUBLISHER_ORG_ID=
# Publisher org's name
export PUBLISHER_ORG_NAME=
# Subscriber org's numeric id
export SUBSCRIBER_ORG_ID=
# Subscriber org's name
export SUBSCRIBER_ORG_NAME=
# Billing Account to link to projects created during stage 0 bootstrap
export BILLING_ACCOUNT_ID=
# Google User Account that will be able to impersonate the service accounts (usually the one active in `gcloud auth list)`
export GCLOUD_USER="gclouduser@nonexisting-domain.com"
# Google User Account that will be granted broad privileges on the target publisher org
export PUBL_ADMIN_USER="ahdemo-publ-admin@nonexisting-domain.com"
# Google User Account that will be granted broad privileges on the target subscriber org
export SUBSCR_ADMIN_USER="ahdemo-subscr-admin@nonexisting-domain.com"
# Google User Account that will be granted subscriber privileges
export SUBSCRIBER_USER="ahdemo-subscriber@nonexisting-domain.com"
# Google User Account that will be granted subscription viewer privileges
export SUBSCRIPTION_VIEWER_USER="ahdemo-subscription-viewer@nonexisting-domain.com"
# Google User Account that will be granted bigquery viewer roles in the subscriber projects
export BQREADER_USER="ahdemo-bq-reader@nonexisting-domain.com"
# Contact for requesting access to the listing (e-mail address or URL). The request access button will redirect here.
export REQUEST_ACCESS_EMAIL_OR_URL="contact-sales@nonexisting-domain.com"
# Allowlisted IPv4 addresses (firewall, VPC-SC, GKE MAN)
export ALLOWLISTED_IPV4_A=( "127.0.0.1/24" )
# Allowlisted IPv6 addresses (firewall, VPC-SC)
export ALLOWLISTED_IPV6_A=( "::1/128" )
# Allowlisted domains for DRS OrgPolicy
export PUBL_DRS_ALLOWLISTED_ORG_IDS_A=( "is:principalSet://iam.googleapis.com/organizations/749redacted693" "is:C0redacted9nw" )
# Allowlisted domains for DRS OrgPolicy
export SUBSCR_DRS_ALLOWLISTED_ORG_IDS_A=( "is:principalSet://iam.googleapis.com/organizations/749redacted693" "is:C0redacted9nw" )
# Enable policy tags on the errorcode column
export PUBL_ENABLE_POLICY_TAGS="false"
# Allowlisted VPC SC optimiations for AUTHZ entities (if yes, don't create subscriber specific rules in src_ds)
export PUBL_ALLOWLISTED_VPCSC_OPT="false"

################################
# Optional / implied settings  #
################################
export REGION="us-central1"
export ZONE="us-central1-a"
export TERRAFORM_SA_USER=$GCLOUD_USER
export SUBSCRIBER_SA_USER=$GCLOUD_USER
export PUBL_PROJECT_ID_PREFIX="ahd-publ-$SUFFIX"
export PUBL_PROJECT_ID_SEED="$PUBL_PROJECT_ID_PREFIX-seed"
export PUBL_PROJECT_ID_BQ_FED_DS="$PUBL_PROJECT_ID_PREFIX-bq-fed-ds"
export PUBL_PROJECT_ID_BQ_SRC_DS="$PUBL_PROJECT_ID_PREFIX-bq-src-ds"
export PUBL_PROJECT_ID_BQ_SHARED_DS="$PUBL_PROJECT_ID_PREFIX-bq-shared-ds"
export PUBL_PROJECT_ID_AH_EXCHG="$PUBL_PROJECT_ID_PREFIX-vpcsc-ah"
export PUBL_PROJECT_ID_NONVPCSC_AH_EXCHG="$PUBL_PROJECT_ID_PREFIX-novpcsc-ah"
export PUBL_PROJECT_ID_BQ_AND_AH="$PUBL_PROJECT_ID_PREFIX-vpcsc-bqah"
export PUBL_STATE_BUCKET="tf-state-ahdemo-publ-${SUFFIX}"
export PUBL_STATE_BUCKET_URL="gs://tf-state-ahdemo-publ-${SUFFIX}"
export PUBL_TERRAFORM_SA_NAME="terraform-$SUFFIX"
export PUBL_TERRAFORM_SA_EMAIL="terraform-$SUFFIX@${PUBL_PROJECT_ID_SEED}.iam.gserviceaccount.com"
export PUBL_TERRAFORM_SA_USER=$TERRAFORM_SA_USER
export SUBSCR_PROJECT_ID_PREFIX="ahd-subscr-$SUFFIX"
export SUBSCR_PROJECT_ID_SEED="$SUBSCR_PROJECT_ID_PREFIX-seed"
export SUBSCR_PROJECT_ID_WITH_VPCSC="$SUBSCR_PROJECT_ID_PREFIX-vpcsc"
export SUBSCR_PROJECT_ID_WITHOUT_VPCSC="$SUBSCR_PROJECT_ID_PREFIX-nonvpcsc"
export SUBSCR_PROJECT_ID_XPN="$SUBSCR_PROJECT_ID_PREFIX-xpn"
export SUBSCR_PROJECT_ID_VM="$SUBSCR_PROJECT_ID_PREFIX-vm"
export SUBSCR_STATE_BUCKET="tf-state-ahdemo-subscr-${SUFFIX}"
export SUBSCR_STATE_BUCKET_URL="gs://tf-state-ahdemo-subscr-${SUFFIX}"
export SUBSCR_SUBSCRIBER_SA_NAME="subscriber-$SUFFIX"
export SUBSCR_SUBSCRIBER_SA_EMAIL="subscriber-$SUFFIX@${SUBSCR_PROJECT_ID_SEED}.iam.gserviceaccount.com"
export SUBSCR_SUBSCRIBER_SA_USER=$SUBSCRIBER_SA_USER
export SUBSCR_TERRAFORM_SA_NAME="terraform-$SUFFIX"
export SUBSCR_TERRAFORM_SA_EMAIL="terraform-$SUFFIX@${SUBSCR_PROJECT_ID_SEED}.iam.gserviceaccount.com"
export SUBSCR_TERRAFORM_SA_USER=$TERRAFORM_SA_USER
export ADMIN_ROLES=("roles/owner" "roles/resourcemanager.projectIamAdmin" "roles/browser" "roles/accesscontextmanager.policyAdmin" "roles/resourcemanager.folderAdmin" "roles/resourcemanager.organizationAdmin" "roles/resourcemanager.tagAdmin" "roles/orgpolicy.policyAdmin" "roles/bigquery.admin")
export TF_GEN_CONFIGS=("./s0-publ-create-projects-bootstrap/backend.tf.tpl" "./s0-subscr-create-projects-bootstrap/backend.tf.tpl" "./s1-publ-bootstrap/backend.tf.tpl" "./s1-subscr-bootstrap/backend.tf.tpl" "./s2-publ-vpc-sc/backend.tf.tpl" "./s3-publ-bigquery-analyticshub/backend.tf.tpl" "./s4-subscr-subscriber-projects/backend.tf.tpl" "./s5-subscr-subscribe/backend.tf.tpl")
export STAGE_DIRS=("s0-publ-create-projects-bootstrap" "s0-subscr-create-projects-bootstrap" "s1-publ-bootstrap" "s1-subscr-bootstrap" "s2-publ-vpc-sc" "s3-publ-bigquery-analyticshub" "s4-subscr-subscriber-projects" "s5-subscr-subscribe")
